# https://www.appveyor.com/docs/appveyor-yml

environment:
  matrix:
    - nodejs_version: "7"
    - nodejs_version: "6"
    - nodejs_version: "4"

install:
  # Install Node.js.
  - ps: Install-Product node $env:nodejs_version x64
  # Install Csound; see https://www.appveyor.com/docs/how-to/download-file.
  - ps: Start-FileDownload 'https://github.com/csound/csound/releases/download/6.08.0/Setup_Csound6_x64_6.08.0.exe'
  - ps: Start-Process 'Setup_Csound6_x64_6.08.0.exe' -ArgumentList '/verySilent', '/noRestart' -Wait
  # Build csound-api.
  - npm install nan
  - set CL=/I"C:\Libraries\boost_1_62_0"
  - node-gyp rebuild

test_script:
  - npm --global install jasmine
  - npm install bindings
  - set PATH=%PATH%;%ProgramFiles%\Csound6_x64\bin
  - jasmine

# csound-api is built during the install phase.
build: OFF
