# See https://www.appveyor.com/docs/appveyor-yml to learn about configuring
# AppVeyor.

environment:
  matrix:
    - nodejs_version: "6"
    - nodejs_version: "4"

install:
  # Install Node.js.
  - ps: Install-Product node $env:nodejs_version
  # Install Csound; see https://www.appveyor.com/docs/how-to/download-file.
  - ps: Start-FileDownload 'https://github.com/csound/csound/releases/download/6.07.0/Setup_Csound6_x64_6.07.0.exe'
  - ps: Start-Process 'Setup_Csound6_x64_6.07.0.exe' -ArgumentList '/verySilent', '/noRestart' -Wait
  # Create csound64.lib.
  - pushd "%ProgramFiles%\Csound6_x64\bin"
  - set PATH=%PATH%;"%ProgramFiles(x86)%\Microsoft Visual Studio 14.0\VC\bin"
  - echo LIBRARY csound64.dll > csound64.def && echo EXPORTS >> csound64.def
  - for /F "skip=19 tokens=4" %%G in ('dumpbin /exports csound64.dll') do @echo %%G >> csound64.def
  - lib /def:csound64.def /machine:x64
  - popd && exit 0
  # Build csound-api.
  - set CL=/I"C:\Libraries\boost_1_60_0"
  - npm install

test_script:
  - node --version
  - npm --version
  - npm --global install jasmine
  - npm test

# csound-api is built during the install phase.
build: OFF

# Do not build when tagging.
skip_tags: true
